RewriteEngine ON
RewriteBase /Projects/AkasyaSystem/

#RewriteRule ^(.*)(_assets|source)/(.*)$ $2/$3 [L]
RewriteRule ^(.*).mp4$ ./Modules/admin/Files/$1.mp4 [L]
RewriteRule ^(?!^(Modules))(.*)/(.*)/(_assets|Source|source|Media|media|Files|files)/(.*)$ ./Modules/$2/$4/$5 [L]
#(?!(.*)\.php)
#RewriteRule ^(?!^(_assets/|source/))(.*)/(?!(_assets/|source/))(.*)(\.(.*)|\.(.*)/)$ System.php?path=$2&module=$4&command=index [L]
#RewriteRule ^(?!^(_assets/|source/))(.*)/(?!(_assets/|source/))(.*)((?!(\.(.*)))/)$ System.php?path=$2&module=$4&command=index [L]
RewriteRule ^(?!^(Modules/|_assets/|source/))(.*)/(?!(_assets/|source/))(.*)/(|(\&(.*)))$ System.php?app=$2&module=$4&command=index&$5 [L]
RewriteRule ^(?!^(Modules/|_assets/|source/))(.*)/(?!(_assets/|source/))(.*)/(.*)(.php|.html)(|(\&(.*)))$ System.php?app=$2&module=$4&command=$5&$7 [L]
RewriteRule ^(?!^(Modules/|_assets/|source/))(.*)/(?!(_assets/|source/))(.*)/(.*)(|(\&(.*)))$ System.php?app=$2&module=$4&command=$5&$6 [L]