RewriteEngine ON
RewriteBase /Projects/AkasyaSystem/

RewriteRule ^(.*)/(.*)/$ System.php?path=$1&module=$2&command=index [L]
RewriteRule ^(.*)/(.*)/(.*)(.php|.html)$ System.php?path=$1&module=$2&command=$3 [L]
RewriteRule ^(.*)/(.*)/(.*)$ System.php?path=$1&module=$2&command=$3 [L]