<!-- Footer -->
<footer>
    <div class="container">
        <div class="row">
            <div class="col-md-3 col-sm-3">
                <h4>Hakkımızda</h4>
                <?=$config["about"];?>
            </div>
            <div class="col-md-3 col-sm-3">
                <h4>Haber Bülteni</h4>
                <p>En yeni etkinliklerden ve en son durumlardan haberdar olun.</p>
                <form role="form">
                    <div class="form-group">
                        <input name="newsletter" type="text" id="newsletter" value="" class="form-control" placeholder="Lütfen E-posta adresinizi giriniz">
                    </div>
                    <button type="submit" class="btn btn-lg btn-black btn-block">Gönder</button>
                </form>
            </div>
            <div class="col-md-3 col-sm-3">
                <h4>From our blog</h4>
                <ul>
                    <li><a href="#">Amazing post with all the goodies<br>
                        January 23, 2014</a></li>
                    <li><a href="#">Integer dignissim nisl eu lacus<br>
                        January 21, 2014</a></li>
                    <li><a href="#">Aliquam erat volutpat. Nulla semper<br>
                        January 14, 2014</a></li>
                </ul>
            </div>
            <div class="col-md-3 col-sm-3">
                <h4>Address</h4>
                <address>
                    <strong><?=$config["company"];?></strong><br>
                    <abbr title="Adres"><?=$config["address"];?><br></abbr>
                    <abbr title="Telefon">T: <a href="tel:<?=$config["phone"];?>"><?=$config["phone"];?></a></abbr><br>
                    <abbr title="E-Posta">E: <a href="mailto:<?=$config["email"];?>"><?=$config["email"];?></a></abbr><br>
                    <abbr title="Website">W: <a href="http://?=$config["website"];?>"><?=$config["website"];?></a></abbr><br>
                </address>
            </div>
        </div>
    </div>
    <div class="footer-bottom">
        <div class="container">
            <div class="row">
                <div class="col-xs-6"> &copy; 2014 Starhotel All Rights Reserved </div>
                <div class="col-xs-6 text-right">
                    <ul>
                        <li><a href="contact-01.html">Contact</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</footer>

<!-- Go-top Button -->
<div id="go-top"><i class="fa fa-angle-up fa-2x"></i></div>
